* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

/* общие классы */
.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* конкретные коассы */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-header {
  border-bottom: 1px solid #e7e9fc;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav-header {
  display: flex;
  align-items: center;
}

.ul-header {
  display: none;
}

.address {
  display: flex;
  gap: 40px;
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 17px 0;
}
.logo-part {
  color: #2e2f42;
}

.ul-address {
  display: flex;
  gap: 40px;
}

.open-menu-btn {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

@media screen and (min-width: 768px) {
  .open-menu-btn {
    display: none;
  }
  .logo {
    margin-right: 120px;
  }
  .ul-header {
    display: flex;
    gap: 40px;
  }
  .nav-link {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link:hover,
  .nav-link:focus {
    color: #404bbf;
  }

  .current {
    position: relative;
    color: #404bbf;
  }

  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background: #404bbf;
    border-radius: 2px;
    width: 100%;
    height: 4px;
  }
  .address {
    display: block;
    font-style: normal;
  }

  .ul-address {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-link {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
  .ul-address {
    flex-direction: row;
    gap: 40px;
  }
  .address-link {
    font-size: 16px;
    line-height: 1.5;
  }
}

/* section hero */

.hero {
  background: #2e2f42;
  padding: 188px 0 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-1.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-h-one {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: block;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover {
  background-color: #404bbf;
}

.hero-button:focus {
  background-color: #404bbf;
}

/* section hero-two */

.hero-two {
  padding-bottom: 120px;
  padding-top: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title-h-two {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.ul-section-two {
  display: flex;
  gap: 24px;
}

.title-strategy {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.li-two {
  width: calc((100% - 72px) / 4);
}

.icon-strategy {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  height: 112px;
  background: #f4f4fd;
  margin-bottom: 8px;
}

.help-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team-icons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-icons-item {
  width: 40px;
  height: 40px;
}

.team-icons-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icons-link:hover {
  background-color: #404bbf;
}

.team-icons-link:focus {
  background-color: #404bbf;
}

.team-icon {
  fill: #f4f4fd;
}

/* section hero-three */

.hero-three {
  background-color: #f4f4fd;
  padding: 120px 0 120px;
}

.title-h-three {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.ul-hero-three {
  display: flex;
  gap: 24px;
}

.li-three {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-text-wrap {
  padding: 32px 0 32px;
  text-align: center;
}

.down {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo {
  line-height: 1.17;
}

.logo-part-footer {
  color: #f4f4fd;
}

.logo-p {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .overlay {
  transform: translateY(0%);
}

.team-list-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  padding: 40px 32px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms linear;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-item:hover .overlay,
.team-list-item:focus .overlay {
  transform: translateY(0%);
}

.portfolio-text-wrap {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.class-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.down {
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.div-footer {
  margin-right: 120px;
}

.footer-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-ul {
  display: flex;
  gap: 16px;
}

.footer-li {
  width: 40px;
  height: 40px;
}

.footer-conatiner {
  display: flex;
  align-items: baseline;
}

.form-container {
  margin-left: auto;
}

.footer-icons-link {
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons-link:hover,
.footer-icons-link:focus {
  background-color: #31d0aa;
}

.subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.form-label {
  gap: 24px;
}

.form-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.form-input::placeholder {
  color: #ffffff;
}

.subscribe-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.subscribe-icon {
  margin-left: 16px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-container.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover > .modal-close-icon,
.modal-close-btn:focus > .modal-close-icon {
  fill: #ffffff;
}

.modal-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.form-group {
  margin-bottom: 8px;
}

.form-group-textarea {
  margin-bottom: 16px;
}

.label-style {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.input-container {
  position: relative;
}
.input-style {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-style:focus {
  border-color: #4d5ae5;
}
.icon-style {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-style:focus + .icon-style {
  fill: #4d5ae5;
}
.textarea-style {
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-style:focus {
  border-color: #4d5ae5;
}

.form-group-check {
  margin-bottom: 24px;
}

.checkbox-container {
  margin-bottom: 24px;
}

.custom-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  color: #8e8f99;
}

.input-checked:checked + .custom-label > .custom-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
  margin: 0 auto;
}

.custom-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.custom-span svg use {
  pointer-events: none;
}

.custom-span.checked svg use {
  pointer-events: auto;
}

.submit-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.some-other-class {
  color: #4d5ae5;
}
/* + custom-label>custom-span */
